/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --color-1: #264653;
  --color-2: #2F7B9A;
  --color-3: #FCAE17;
  --color-4: #FA8334;
  --color-5: #07a092;
  --f7-theme-color: var(--color-2);
  --f7-theme-color-rgb: var(--color-2);
  --f7-theme-color-shade: var(--color-1);
  --f7-theme-color-tint: #fff;
  --f7-page-bg-color: #eee;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: white;
  --f7-bars-bg-color-rgb: white;
  --f7-bars-border-color: transparent;
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: var(--color-1);
  --f7-bars-link-color: var(--color-2);
  --f7-tabbar-link-active-color: var(--color-1);
  --f7-tabbar-link-inactive-color: var(--color-1);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #444;
  --f7-navbar-subtitle-text-color: rgba(34,34,34,0.85);
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 0;
  --g: 111;
  --b: 60;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */

div.block-title i.f7-icons {
    font-size: 1.4em;
    margin-right: 0.2em;
}

div.stat div.card-content strong {
    font-size: 3em;
}

div.stat div.card-footer {
    font-size: 0.9em;
}

.stat-footnote {
    line-height: 0.8em;
    opacity: 0.7;
}

.stat-footnote i {
    font-size: 1.3em;
    opacity: 0.6;
}

.navbar-icon {
    width: 40px;
    width: 40px;
    margin-left: 0.5em;
}

.card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.card-header-pic .card-content-padding .date {
    color: #8e8e93;
}

a.link {
  color: var(--f7-tabbar-link-active-color)
}

.panel {
  min-width: 100px;
  max-width: 80vw;
}

.circle {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.circle:after {
  content: "";
  display: block;
  margin-bottom: 100%;
}

.circle * {
  position: absolute;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.no-wrap {
  white-space: nowrap !important;
}

.thumb-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}

.button.button-record {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 35vw;
}

.button.button-record i {
  position: relative;
  top: 40%;
}